@media (max-height: 999px){ 
    p {
    font-size: 20px;
      }

  #main-doc {
font-family: 'Open Sans', Arial, sans-serif;
line-height: 1.5;
  }

/* i used the freecodecamp example for some help with the flexbox*/
#navbar {
position: fixed;
border-right: solid;
height: 100%;
width: 200px;
bottom: 1px;
font-size: 20px;
border-color: rgba(0, 22, 22, 0.4);
background-color: #E0E0E0;
left: -1px;
}

  .main-section {
position: relative; left: 250px;
}

  #header {
font-size: 30px;
}

  code {
font-size: 20px;
}